@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }

}

@mixin themify($key, $valueMap) {
  // theme list
  $themes: light, dark;

  @each $theme in $themes {
    [data-theme=#{$theme}] & {
      #{$key}: map-get($valueMap, $theme);
    }
  }
}
